<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>projetoTc</display-name>
  <servlet>
    <servlet-name>projetoTc</servlet-name>
    <servlet-class>server.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projetoTc</servlet-name>
    <url-pattern>/projetoTc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletTeste</servlet-name>
    <servlet-class>testes.ServletTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTeste</servlet-name>
    <url-pattern>/ServletTeste</url-pattern>
  </servlet-mapping>
  
  
  
  
   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>